:root{
    --primary-color: #fc7f03;
    --secondary-color: #777777;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 70px 0;
}
.header i{
    color: var(--primary-color);
    font-size: 20px;
}
.header h2{
    font-size: 25px;
    font-weight: 900;
}
.main-heading h1{
   font-size: 30px;
   margin: 0 0 40px 40px;
   line-height: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    height: 200px;
    width: 150px;
    background-color: #fff;
    border-radius: 10%;
    margin: 10px;
}
.box img{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        margin-top: 30px;
        margin-left: 30px;
}
.box h3{
    text-align: center;
    font-size: 13px;
}
.content{
    color: #777777;
    margin-bottom: 50px;
}
.content p{
    padding: 20px 0 30px 45px;
    line-height: 28px;
    letter-spacing: 1px;
}
.one{
    width: 90px;
    height: 3px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 45px;
}
.navbar{
    display: none;
}
.box5{
    display: none;
}

@media(min-width: 1024px) {
    .header{
        display: none;
    }
    .navbar{
        display: block;
    }
    .navbar li{
        list-style: none;
    }
  .navbar a{
  text-decoration: none;
  color: #777777;
  line-height: 50px;
  margin-left: 50px;
  }
  .navbar h1{
      padding: 50px;
  }
  .btn{
      height: 50px;
      width: 120px;
      color: #fff;
      background-color: var(--primary-color);
      border-radius: 40px;
      border: 1px solid var(--primary-color);
      margin: 40px 0 0 60px;
  }
  
  .main-heading{
      margin-top: -28rem;
      padding-left: 11rem;
}
.main-heading h1{
    font-size: 3.3rem;
    line-height: 5rem;
}
.box5{
    display: block;
}
.container{
    margin: 3rem 0 0 10rem;
}
.box{
    height: 180px;
    width: 130px;
}
.box img{
        height: 5rem;
        width: 5rem;
        margin-left: 25px;
}
.box h3{
    font-size: 11px;
}
.content{
    margin-top: -26rem;
    margin-left: 45rem;
    width: 25%;
}
.content p{
    font-size: 14px;
    line-height: 20px;
}
.one{
    margin-top: -15px;
}
}

@media(min-width:1440px) {
    .navbar a{
        line-height: 65px;
        font-size: 18px;
        }
        .main-heading{
            margin-top: -35rem;
            padding-left: 14rem;
      }
      .main-heading h1{
          font-size: 5.1rem;
          line-height: 6.1rem;
      } 
      .content{
        margin-top: -32rem;
        margin-left: 65rem;
        width: 20%;
    }
    .content p{
        line-height: 25px;
    }
    .one{
        margin-top: -15px;
    } 
    .container{
        margin-left: 14rem;
    }
    .box{
        height: 260px;
        width: 210px;
    }
    .box img{
            height: 9rem;
            width: 9rem;
            margin-left: 35px;
    }
    .box h3{
        font-size: 14px;
    } 
}